body {
    background-color: #fff;
    color: #000;
    margin: 0;
    overflow: hidden;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Cookie", cursive;
    /* font-family: "Pacifico", cursive; */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.full-screen-text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: calc(100vw - 110px);

    display: none;
    padding-top: 0px;
    padding-bottom: 60px;
    padding-left: 55px;
    padding-right: 55px;
}

.full-screen-text-container-p {
    position: absolute;
    display: flex;
    height: calc(100vh);
    width: calc(100vw);
    overflow: hidden;
    top: 30px;
}

.mini-image {
    animation: showSmoothly 0.5s;
}

@keyframes showSmoothly {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.heading {
    font-weight: bold;
    margin-top: 10px;
    /* color: red; */
}

.subheading {
    color: blue;
}